/* - Desktop: 1440px */
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 62.5%;
  background-color: #e5eff5;
}

body {
  height: 100vh;
}

@media (max-width: 375px) {
  body {
    height: auto;
  }
}

main {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #2ab2af;
}

h2 {
  color: #c0df34;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

p {
  font-size: 1.4rem;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  font-family: inherit;
}

.container {
  width: 45%;
  max-width: 700px;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 40px -15px #9fb2d1;
          box-shadow: 0px 20px 40px -15px #9fb2d1;
}

@media (max-width: 375px) {
  .container {
    width: 85%;
    margin-top: 20%;
  }
}

.header {
  padding: 3.5rem;
}

.header h1 {
  margin-bottom: 2.5rem;
}

.header h2 {
  margin-bottom: 1.5rem;
}

.header p {
  color: #98a6bd;
}

@media (max-width: 375px) {
  .header {
    padding: 2.5rem;
  }
  .header p {
    line-height: 2.5rem;
  }
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

@media (max-width: 375px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#first {
  background-color: #2ab2af;
}

#first p {
  line-height: 3rem;
}

#first span {
  font-size: 3rem;
  margin-right: 1rem;
}

#first button {
  width: 100%;
  height: 50px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 2rem 0 0 0;
  text-decoration: none;
  background: #c0df34;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 0px 7px 10px 0px #209795;
          box-shadow: 0px 7px 10px 0px #209795;
  -webkit-transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#first button:hover,
#first button:focus {
  background: #99b329;
}

#first button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#first button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#second {
  background-color: rgba(42, 178, 175, 0.8);
}

#second p {
  font-size: 1.2rem;
}

.half {
  width: 50%;
  padding: 3.5rem;
}

@media (max-width: 375px) {
  .half {
    width: auto;
    padding: 2.5rem;
  }
}

footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  footer {
    margin-top: 40px;
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: #2ab2af;
}

/* MEDIA QUERIES */
/*# sourceMappingURL=index.css.map */