/* page */
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: white;
  background: url("../images/bg-intro-desktop.png") no-repeat center center fixed, #ff7a7a;
  background-size: cover;
}

body {
  height: 100vh;
}

@media (max-width: 375px) {
  body {
    height: auto;
  }
}

main {
  height: 95%;
  padding: 0 12%;
}

@media (max-width: 375px) {
  main {
    height: 100;
    padding: 0 8%;
  }
}

footer {
  height: 5%;
}

@media (max-width: 375px) {
  footer {
    margin-top: 2rem;
  }
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem;
}

@media (max-width: 375px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  br.responsive {
    display: none;
  }
}

@media (max-width: 375px) {
  br.responsive {
    display: inherit;
  }
}

.bold {
  font-weight: 600;
}

/* components */
.container {
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container h1 {
  margin-top: 70px;
  margin-bottom: 3rem;
}

@media (max-width: 375px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .first p {
    margin-bottom: 6rem;
  }
}

.form-title {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
  background-color: #6055a5;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 375px) {
  .form-title {
    width: auto;
    padding: 0 6rem;
  }
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 4rem 4rem 4rem;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.2);
}

#form p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #b9b6d3;
}

#form p a {
  font-weight: 700;
  color: #ff7a7a;
}

.input-container {
  position: relative;
}

.input-container input[type="text"],
.input-container input[type="email"] {
  width: 100%;
  margin-top: 2rem;
  padding: 16px 3.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3e3c49;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  caret-color: #6055a5;
}

.input-container input[type="text"]:focus,
.input-container input[type="email"]:focus {
  outline: none;
  border: 1px solid #6055a5;
}

.input-container i {
  position: absolute;
  right: 20px;
  top: 36px;
  color: #ff7a7a;
  visibility: hidden;
}

.input-container .error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5rem;
  color: #ff7a7a;
  font-style: italic;
}

.input-container #first-error,
.input-container #last-error,
.input-container #email-error,
.input-container #password-error {
  display: none;
}

button {
  width: 100%;
  background-color: #38cc8c;
  color: white;
  padding: 14px 20px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0px 0px #32b87e;
          box-shadow: 0px 4px 0px 0px #32b87e;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

button:hover {
  background-color: #32b87e;
  -webkit-box-shadow: 0px 4px 0px 0px #38cc8c;
          box-shadow: 0px 4px 0px 0px #38cc8c;
}

button:focus {
  outline: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #6055a5;
}
/*# sourceMappingURL=index.css.map */